* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('cherry-blossom-background-r9nfkwdadd138wco.jpg') ;
}

.container {
    width: 350px;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.form-box {
    text-align: center;
}

.form-box h1 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #2575fc;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1c5ed9;
}

p {
    margin-top: 15px;
}

a {
    color: #2575fc;
    text-decoration: none;
}

.hidden {
    display: none;
}
